$select-input-height: 46px;

.select {
  width: 100%;
  position: relative;
  z-index: 100;

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input-caret {
      transform: rotate(-180deg);
    }

    .select__backdrop {
      display: block;
    }
  }

  &__input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: $select-input-height;
    padding: 0 35px 0 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 1px 2px 2px rgba(0,0,0, .15);
  }

  &__list {
    margin: 0;
    padding: 5px 0;
    list-style: none;
  }

  &__item {
    padding: 5px 12px;
    cursor: pointer;
    transition: .15s background-color ease-in;

    &:hover {
      background-color: #f0f0f0;
      transition: .15s background-color ease-in;
    }
  }

  &__item.active {
    background-color: #dedede;
  }

  &__input-caret {
    position: absolute;
    right: 8px;
    top: 28%;
    font-size: 25px;
    line-height: 1;
  }

  &__backdrop {
    display: none;
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
  }
}
